<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vouov.yapps.dao.UserOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.vouov.yapps.model.UserOrganization" >
    <id column="userOrgID" property="userOrgID" jdbcType="INTEGER" />
    <result column="userID" property="userID" jdbcType="INTEGER" />
    <result column="orgID" property="orgID" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_organization
    where userOrgID = #{userOrgID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vouov.yapps.model.UserOrganization" >
    insert into user_organization (userOrgID, userID, orgID
      )
    values (#{userOrgID,jdbcType=INTEGER}, #{userID,jdbcType=INTEGER}, #{orgID,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.vouov.yapps.model.UserOrganization" >
    update user_organization
    set userID = #{userID,jdbcType=INTEGER},
      orgID = #{orgID,jdbcType=INTEGER}
    where userOrgID = #{userOrgID,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select userOrgID, userID, orgID
    from user_organization
    where userOrgID = #{userOrgID,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select userOrgID, userID, orgID
    from user_organization
  </select>
</mapper>